#header {
    position: relative;
    background-color: #4abdac;
    border-bottom: 1px solid black;
}



#brand {
    font-size: 40px;
}

#mainHeading {
    display: inline-block;
    margin: 0;

}

#searchForm {
    display: inline-block;
    position: relative;

}

#searchIcon {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

#searchBar {
    display: inline;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: right;
    padding-bottom: 0;
    padding-top: 0;
    outline: 0;
    display: inline-block;

}

#searchButton {

    display: inline;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 0;
    padding-top: 0;
    display: inline-block;

}

#profileIcon {
    font-size: 30px;
    position: absolute;
    
    bottom: 15px;
}

.hide {
    display: none;
}


#mainLanding {
    margin: 20px 0;
}

.similarArtist {
    cursor: pointer;
}

body {
    padding-top: var(--ht);
}

.row {
    margin-bottom: 4em;
}

.rating-stars ul>li.star {
    display: inline-block;
    font-size: 3em;
}


.hover {
    color: #FFCC36;
}

.selected {
    color: #FF912C;
}

h1 {
    padding-bottom: .5em;
}

#artistPicDiv {
    text-align: center;
    padding: 1em;
}

#artistBioDiv {
    text-align: center;
    padding: 1em;
}

.card-header {
    text-align: center;
}

